<!DOCTYPE html>
<html>
<head>
	<title>Mail Rate Results</title>
</head>
<body>
	<h1>Mail Rate Results</h1>

	<p>The postage required for a single piece of retail first-class mail weighing <%= weight %> ounces and categorized as <%= type %> is $<%= cost.toFixed(2) %>.</p>

</body>
</html>